<h2>About Ask Nietzsche - Question & Answer Message Board</h2>

<h3>JavaScript Ember JS Ember Independent Project</h3>

  <p>A question and answer message board where a user submits a question and other users can respond with answers.
  </p>
  <ul>
    <li>Questions have the content of the question itself, an author and additional notes.</li>
    <li>Answers have the content of the answer and the author.</li>
    <li> Includes a header that appears on all pages containing the name of the site and a link to the home page.</li>
    <li> Lists all questions on the homepage, with only the question and the name of the author showing.</li>
    <li>Users are able to click on a question to view additional information.</li>
    <li>Allows users to add and edit questions.</li>
    <li>Allow users to add answers to a question. </li>
    <li>Answers are added and viewed on the same page as the question they respond to.</li>
  </ul>
<hr>
<h4>© 2016 Epicodus, Inc.</h4>
