<div class="container">
  <header>
    <h1>{{#link-to 'index'}}Ask Nietzsche{{/link-to}}</h1>
  </header>
  {{outlet}}
  <hr>
  <footer>
    {{#link-to 'about'}}About{{/link-to}} <br>
    {{#link-to 'contact'}}Contact{{/link-to}} <br>
    {{#link-to 'all-products'}}Shop{{/link-to}}
  </footer>
</div>
