<h2>NEW EMBER SERVICE {{#link-to 'all-products'}}Shop{{/link-to}}</h2>
<h3>Index: Question and Answer Message Board</h3>
<br>
  {{#each model as |question|}}
    <h4>{{question-tile question=question}}</h4>
  {{/each}}
<hr>
{{new-question saveQuestion="saveQuestion"}}
